---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

</html>
<script>
var typed = new Typed('#typed', {
  stringsElement: '#typed-strings',
  /**
  * @property {number} typeSpeed type speed in milliseconds
  */
  typeSpeed: 80,
  /**
   * @property {number} backSpeed backspacing speed in milliseconds
   */
  backSpeed: 10,
  /**
   * @property {boolean} loop loop strings
   * @property {number} loopCount amount of loops
   */
  loop: true,
  loopCount: Infinity,


});
</script>
